<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/readme.txt">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/productos">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/carrito">CARRITO</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
            {{#if usuario}}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/perfil">Bienvenido {{usuario}}!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuario/logout">Logout</a>
            </li>
            {{else}}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuario/signup">SIGN UP</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuario/login">LOGIN</a>
                </li>
            {{/if}}
            </ul>
        </div>
    </div>
</nav>



<div class="row text-center my-5">
    <div class="card col-3 mx-5">
    <p>{{producto.codigo}}</p>
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text">${{producto.precio}}</p>
            <a href="/carrito/{{producto._id}}" class="btn btn-primary">Agregar a Carrito</a>
        </div>
    </div>
</div>


